.headerMain{
    width: 100%;
    height: 30vh;
    justify-content: space-around;
}

.navMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
}

.LinkNav {
  text-decoration: none;
  color: black;
}

.LinkNav:hover {
  background-color: rgb(123, 121, 121);
  border-radius: 20vh;
  color: white;
  padding: 1vh;
  margin: 1vh;
}

#mainID{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#articleMain{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(201, 196, 196, 0.5);
    border-radius: 0.2vh;
    padding: 1vh;
    margin: 1vh;
}